body {
  background-image: url(/Images/bg-desktop.svg);
  background-color: rgb(92, 16, 92);
  margin: 0;
} 
nav {
  
  margin-top: 70px;
  display: flex; 
  margin-left: 50px;
} 
nav img {
  height: 70px;
} 
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
} 
.one img {
  height: 550px;
  margin-left: 100px;
  margin-top: 100px;
  transition: transform 0.3s;
} 
.two {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-top: 100px;
  font-weight: bolder;
} 
button {
  height: 60px;
  width: 200px;
  border-radius: 25px;
  border: none; 
  color: rgb(92, 16, 92);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  transition: transform 0.3s;
} 
footer {
  position: absolute;
  bottom: 0;
  display: flex;
  text-decoration: none;
 width: 100%; 
 justify-content: end;
  
} 
.fa-brands {
  font-size: 50px;
  margin-right: 30px;
  margin-bottom: 10px;
 
} 
.fa-brands:hover{
  transform: scale(110%);
  opacity: 0.7;
} 
button:hover{
  transform: scale(110%);
} 
.one img:hover{
  transform: scale(105%);
} 

@media screen and (max-width: 500px){
  nav img {
    height: 70px;
  } 
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    
  } 
  .one img {
    height: 250px;
    margin-left: -10px;
    margin-top: 100px;
    transition: transform 0.3s;
  } 
  .two {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 20px;
    font-weight: bolder;
    margin-left: 30px;
  } 
  button {
    margin-left: 60px;
    height: 40px;
  } 
  .one {
    margin-left: 30px;
  } 

footer {
  justify-content: center;
}
}